{
  "overrides": [
    {
      "files": "*.svg",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "i18n/**.json",
      "options": {
        "printWidth": 100000
      }
    }
  ]
}
